<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDg3ZR6Kbbm5oI7abJddPbz-3rSsYy2fCE</string>
	<key>GCM_SENDER_ID</key>
	<string>569123727810</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.todo</string>
	<key>PROJECT_ID</key>
	<string>todoapp-ea7f7</string>
	<key>STORAGE_BUCKET</key>
	<string>todoapp-ea7f7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:569123727810:ios:355f71fcfccd1d4b1f8e5b</string>
</dict>
</plist>